body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.site-header {
  /*background-color: rgb(50, 50, 55);
  margin-bottom: 20px;*/
  border: 1px solid black;
}

.site-header-img {
  width: 260px;
}

.poster-thumb {
  width: 80px;
}

.poster-lg {
  width: 220px;
}

.single-movie {
  padding-top: 30px;
}

.single-table {
  width: 350px;
  margin: auto;
}

.footer {
  padding: 10px;
  height: 40px;
  text-align: center;
}

.new-form {
  margin: auto;
}
